
body {
  background-color: white;
  margin: 0;

}
.header{
  padding-top: 10px;
}
button {
  padding-top: 10px;
  margin-left: 10PX;
  margin-top: 10px;
  font-size: 20px;
  float: right;
}
div.errormessage{
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  
}
div.errormessage{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.add{
  margin-bottom: 10px;
}
input.MyButton {
  width: 150px;
  padding: 10px;
  padding-top: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
  background: #3366cc;
  color: #fff;
  border: 1px solid #3366cc;
  border-radius: 10px;
  float: right;
  margin-left: 10PX;
}
input.MyButton:hover {
  color: #ffff00;
  background: #000;
  border: 1px solid #fff;
}
.logButton{
  padding-top: 10px;
  width: 150px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
  background: #3366cc;
  color: #fff;
  border: 1px solid #3366cc;
  border-radius: 10px;
  float: right;
 position: relative;
 left: -30%;
  margin-left: 10PX;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
.sub-nav {
    background-color: black;
}
.sub-nav > ul > li {
  display: inline;
}
.sub-nav > ul > li > a:hover {
  color: red;
  text-decoration:underline;
}

.sub-nav > ul > li > a {
  color: #F4F4F4;
  padding: 0px;
  line-height: 25px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: .1em;
}
.sub-nav {
    margin-top: 1px;
}
.sub-nav {
    background-color: black;
    font-weight: 1000;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

div {
    display: block;
}

p {
  color: #111111;
  background-color: white;
  margin: 0px 10%;
  padding: 10px 20px;
  line-height: 25px;
  text-indent: 30px;
  border-left: 1px #DDD solid;
  border-right: 1px #DDD solid;
}
#logo{
  max-height: 200px;
  max-width: 50%;
}
.line {
display: block;
margin-top: 2%;
margin-bottom: 2%;
overflow: hidden;
border-style: inset;
border-width: 1px;
}

.row {
  display: flex;

}
#imageupload{
  float: right;
  margin-right: 5px;
}
#inputlogin{
  margin-bottom: 20px;
}
.logininput{
  align-items: center;
}
#input{
  margin-bottom: 5px;
}
.column {
  flex: 33.33%;
  padding: 5px;
}

marquee{
  font-size: 25px;
  font-weight: 600;
  color:blue;
  font-family: sans-serif;
  }

h1 {
  text-align: center;
  font-size: 50px;
  font-family: monospace;
}

* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
 
}

/* Hide the images by default */
.mySlides {
  min-height: 150px;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 1em;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
